
<h3>Current Information</h3>
<ul>
  <li><%= link_to 'View All Hospitals', hospitals_path %></li>
  <li><%= link_to 'View All Facility Types', facility_types_path %></li>
</ul>

<h3>Creation Functions</h3>
<ul>
  <li><%= link_to 'New hospital', new_hospital_path %></li>
</ul>